body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-inverse{
	background-color: #3f51b5;
	border-color: #c5cae9;
}
.navbar-inverse .navbar-brand{
	color: #e8eaf6;
}
.navbar-inverse .navbar-toggle{
	border-color: #C5CAE9;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3949ab;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3949ab;
}
.navbar-inverse .navbar-nav>li>a {
    color: #e8eaf6;
}